[:find (pull ?org [:github.org/installation-token
                   :git.org/name
                   :git.provider/url])
 (pull ?commit [:git.commit/sha])
 (pull ?repo [:git.repo/source-id
              :git.repo/name
              :git.provider/url])
 :in $ $before-db %
 :where

 ;; ensure that if content indexing triggers, that it only does so if all things are present
 (tx-content-index ?commit ?index)
 [?index :atomist.content.index/name "path-exists"]
 [?index :atomist.content.index/value "project.clj"]

 (not-join [?commit]
   [?cs :github.checksuite/commit ?commit]
   [?cr :github.checkrun/checksuite ?cs]
   [?cr :github.checkrun/name ?check-name]
   (array-contains? ["lein-deps-tree-skill"] ?check-name))

 ;; ensures we are at  the tip of the default branch
 [?ref :git.ref/commit ?commit]
 [?commit :git.commit/repo ?repo]

 (repo-selected? ?repo)

 (repo-language ?repo "Clojure")

 [?repo :git.repo/org ?org]]