[:find (pull ?org [:github.org/installation-token
                   :git.org/name
                   :git.provider/url])
 (pull ?commit [:git.commit/sha])
 (pull ?repo [:git.repo/source-id
              :git.repo/name
              :git.provider/url])
 :in $ $before-db %
 :where

 [(ground ["project.clj"]) ?path-exists]
 (or-join [?commit ?path-exists]
     (and
         ;; ensure that if content indexing triggers, that it only does so if all things are present
         (tx-content-index ?commit ?index)
         [?index :atomist.content.index/name "path-exists"]
         [?index :atomist.content.index/value ?path-exists])
     (tx-push ?commit _))

 ;; ensures we are at  the tip of the default branch
 [?ref :git.ref/commit ?commit]
 [?commit :git.commit/repo ?repo]
 (is-default-branch? ?ref)

 (repo-selected? ?repo)

 (repo-language ?repo "Clojure")

 (content-index-contains? ?commit "path-exists" ?path-exists)

 [?commit :git.commit/repo ?repo]
 [?repo :git.repo/org ?org]]